<div class="container">
  <h1>Advanced Search</h1>

  <form (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          id="name"
          [(ngModel)]="model.name"
          name="name"
          class="mat-input-element"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="model.title"
          name="title"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="model.description"
          name="description"
        />
      </mat-form-field>
    </div>
    <div style="width:80%;">
      <button
        mat-raised-button
        style="float: right;background-color: #2196f3;"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
