<div class="line">
  <span *ngIf="isFile" (click)="showPreview()" class="link">
    {{ name$ | async }}
  </span>
  <span *ngIf="!isFile" (click)="navigate()" class="bold link">
    {{ name$ | async }}
  </span>
  <span>{{ title$ | async }}</span>
</div>

<div *ngIf="description" class="line">{{ description }}</div>

<div class="line">
  {{ 'APP.BROWSE.SEARCH.CUSTOM_ROW.MODIFIED' | translate }}:
  {{ modifiedAt | date: 'medium' }}
  {{ 'APP.BROWSE.SEARCH.CUSTOM_ROW.BY_USER' | translate: { user: user } }}

  <span *ngIf="size"
    >| {{ 'APP.BROWSE.SEARCH.CUSTOM_ROW.SIZE' | translate }}:
    {{ size | adfFileSize }}
  </span>
</div>

<div class="line">
  {{ 'APP.BROWSE.SEARCH.CUSTOM_ROW.LOCATION' | translate }}:
  <aca-location-link [context]="context"></aca-location-link>
</div>
